---
import CardBlog from "../../components/CardBlog.astro";
import MainBlogLayout from "../../layouts/MainBlogLayout.astro";
---

<MainBlogLayout>
  <section id="blog">
    <div class="ps-3 pe-3">
      <CardBlog />
    </div>
  </section>
</MainBlogLayout>
