---
import "../styles/global.css";
import NavbarMobile from "../components/NavbarMobile.astro";
import BackgroundImage from "../components/BackgroundImage.astro";
import NavbarDesktop from "../components/NavbarDesktop.astro";
import MainContent from "../components/MainContent.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="relative h-dvh">
      <NavbarMobile />
      <BackgroundImage />
      <div class="block lg:flex pb-10 lg:pb-0 mt-20 lg:mt-0">
        <div class="relative flex-1">
          <NavbarDesktop />
        </div>
        <div class="border-l-1 flex-4 ps-3 pe-3">
          <MainContent />
        </div>
      </div>
    </div>
  </body>
</html>
