---
import ProfilePicture from "./ProfilePicture.astro"
---

<div class="relative">
  <section>
    <div class="w-full h-80">
      <img src="/bg-image.jpg" alt="Background Image" class="w-full h-full object-cover object-top" />
    </div>
    <ProfilePicture />
  </section>
</div>
