---
import ProfilePicture from "./ProfilePicture.astro";
---

<div class="twitter-banner">
  <img src="/bg-image.jpg" alt="Banner Image" />
</div>
<div class="twitter-avatar-wrapper">
  <ProfilePicture />
</div>
