---

---

<div class="absolute bottom-0 left-0 w-full z-99 block lg:hidden">
  <nav>
    <div class="border-1 p-3">
      <ul class="flex gap-5 justify-center text-sm">
        <li>Home</li>
        <li>Projects</li>
        <li>Resume</li>
        <li>Contact</li>
        <li>Blog</li>
      </ul>
    </div>
  </nav>
</div>
