---

---

<div class="border-1 absolute top-20 left-15 w-50 pr-10 pl-10 pb-10">
  <aside>
    <div>
      <h2 class="text-xl text-center font-semibold my-3">Menu</h2>
      <nav>
        <ul id="nav-list" class="text-md grid gap-3">
          <li class="cursor-pointer w-fit" data-page="home">Home</li>
          <li class="cursor-pointer w-fit" data-page="projects">Projects</li>
          <li class="cursor-pointer w-fit" data-page="resume">Resume</li>
          <li class="cursor-pointer w-fit" data-page="contact">Contact</li>
          <li class="cursor-pointer w-fit" data-page="blog">Blog</li>
        </ul>
      </nav>
    </div>
  </aside>
</div>

<script is:inline>
  if (typeof window !== "undefined") {
    window.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll("#nav-list [data-page]").forEach((item) => {
        item.addEventListener("click", () => {
          const page = item.dataset.page;
          // kirim event global ke MainContent
          window.dispatchEvent(
            new CustomEvent("page-change", { detail: page })
          );
        });
      });
    });
  }
</script>
