---

---

<div class="absolute -bottom-15 lg:left-15 left-[50%] translate-x-[-50%] lg:translate-x-0 w-[150px]">
  <div>
    <img src="/user-profile.jpg" alt="profile picture" class="rounded-full"/>
  </div>
</div>
